footer
  hr
  .row
    .col-sm-10.col-sm-offset-1
        p Follow <a href="https://twitter.com/ShoreditchOps">@ShoreditchOps</a> for updates / Made in <span style="color: rgb(204,33,33)">Lon</span><span style="color: rgb(33, 33, 204)">don</span> / &copy; 2015 Shoreditch Ops Ltd
