!= partial("_navbar")

.container
  .row
    .col-sm-10.col-sm-offset-1
      h1 Community

      hr

      h2 Chat on Gitter

      p If you are having problems with Minigun, have a question, or just want to say "holla", you can chat with the Minigun community on Gitter.

      p
        a(href="https://gitter.im/shoreditch-ops/minigun")
          img(src="https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667")

      h2 Social

      p Follow us on Twitter at <a href="https://twitter.com/@ShoreditchOps">@ShoreditchOps</a>.

      h2 Source Code

      p Minigun is open-source, with the code available on Github under the terms of the <a href="https://en.wikipedia.org/wiki/ISC_license">ISC license</a>:

      p
        a(href="https://github.com/shoreditch-ops/minigun") https://github.com/shoreditch-ops/minigun

      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/shoreditch-ops/minigun" data-style="mega" data-count-href="/shoreditch-ops/minigun/stargazers" data-count-api="/repos/shoreditch-ops/minigun#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star shoreditch-ops/minigun on GitHub">Star</a>
      <!-- Place this tag right after the last button or just before your close body tag. -->
      <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

      h2 How to Contribute

      p There are many ways to contribute and we welcome any and all contributions.
      ul
        li <strong>Report a bug</strong> - if you found a bug or something isn't working as documented, please <a href="https://github.com/shoreditch-ops/minigun/issues">create an issue</a> on Github.
        li <strong>Help improve the docs</strong> - again, create an issue, or fix the docs and send a PR.
        li <strong>Fix a bug or implement a feature</strong> - if you want to jump in and write some code, that's really great. Just make sure to open an issue for anything that's not already a reported bug, especially if it's a new feature or a change to existing functionality. Feel free to jump into <a href="https://gitter.im/shoreditch-ops/minigun">our chatroom on Gitter</a> to talk to a maintainer or other members of the community.

  != partial("_footer")
